In [4]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/atlantico-academy/datasets/main/tips.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
df.to_csv("data/raw/data.csv", index=False)

In [9]:
dframe = pd.read_csv('data/external/dictionary.csv')
dframe.head()

,variavel,descricao,tipo,subtipo
0,total_bill,valor total da conta,quantitativa,continua
1,tip,valor da gorjeta,quantitativa,continuo
2,sex,sexo da pessoa que pagou,qualitativa,nominal
3,smoker,"""se a pessoa que pagou é ou não fumante""",qualitativa,nominal
4,day,o dia da semana que a pessoa comeu no restaurante,"""qualitativa""","""nominal"""