# Análise exploratória de dados

In [10]:
from IPython.display import display, Markdown
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
## 1. Leitura dos dados

In [3]:
df = pd.read_csv('../data/raw/data.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 2. Descrição dos dados

In [7]:
TIPS é um conjunto de dados que contém informações sobre gorjetas recebidas por um garçom no período de alguns meses trabalhando em um restaurante.

Essa base de dados possui 244 instâncias.

SyntaxError: invalid syntax (3688716405.py, line 1)

In [8]:
###2.1. Dicionário de dados
dicionario = pd.read_csv('../data/external/dictionary.csv')
dicionario.head()

,variavel,descricao,tipo,subtipo
0,total_bill,valor total da conta,quantitativa,continua
1,tip,valor da gorjeta,quantitativa,continuo
2,sex,sexo da pessoa que pagou,qualitativa,nominal
3,smoker,se a pessoa que pagou é ou não fumante,qualitativa,nominal
4,day,o dia da semana que a pessoa comeu no restaurante,qualitativa,nominal

In [ ]:
- São 7 variáveis, 4 qualitativas nominais, 2 quantitativas contínuas e 1 quantitativa discreta.

## 3. Perguntas de partida e hipóteses

In [ ]:
- Existem dados faltantes, se sim quantos e em quais variáveis?
- Qual a distribuição dos dados (variável por variável)?
- Existe alguma relação entre o sexo, espécie e as características físicas dos pinguins?
- Existe alguma relação entre a ilha, espécie e as características físicas dos pinguins?
- Existem correlações entre estas características físicas?

In [11]:
# variáveis com dados faltantes
number_of_na_by_column = df.isnull().sum().loc[lambda x: x > 0]
number_of_na_rows = df.isnull().any(axis=1).sum()

display(number_of_na_by_column)
display(Markdown(
    "---\n"
    f"A partir dessa informação sabemos que as variáveis `{number_of_na_by_column.axes[0].to_list()}`"
    f"contém valores faltantes. Além disso sabemos que temos `{number_of_na_rows}` linhas com valores faltantes."
    "As próximas análises aqui serão realizadas sem considerar os dados faltantes"
    "\n\n ---"
))

df.dropna(inplace=True)

Series([], dtype: int64)

---
A partir dessa informação sabemos que as variáveis `[]`contém valores faltantes. Além disso sabemos que temos `0` linhas com valores faltantes.As próximas análises aqui serão realizadas sem considerar os dados faltantes

 ---

In [13]:
df.describe(include='all')

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

In [ ]:
Com essa visualização conseguimos compreender que existem 2 sexos disponíveis (Male ou Female), que em sua maioria são Male; 2 respostas possíveis para smoker (Yes ou No), a maioria não fuma; 4 possíveis dias da semana (Fri, Sat, Sun ou Thur), e percebemos que o dia mais frequente é o sábado; e 2 possíveis horários de refeição (Dinner ou Lunch), vemos que a maioria vai jantar.
Apenas visualizando essa tabela conseguimos perceber também que a menor mesa do restaurante é a com espaço para 1 pessoa e a maior é a mesa com 6 assentos.
Percebemos também que a média das gorjetas dadas a esse garçom tem o valor de 2.99, com desvio padrão de 1.38, e que a maior gorjeta recebida por ele, foi no valor de $10.00.

## 4. Insights